@import '../../responsive.scss';

.start-game {
    position: relative;
    padding: 2em;
    h3{
        margin: .8em 0;
        font-size: 1.3em;
        color: rgb(32, 31, 31);
    }
    .select-lng {
        h4 {
            color: gray;
        }
        .lang-btn {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 1em;
            margin: 1.5em 0;

            button {
                border: none;
                background-color: white;
                outline: none;
                padding: 0.5em;
                font-size: 1em;
                cursor: pointer;
                border-radius: 0.4em;
            }
            .active {
                background-color: #abd7f9;
                border: 2px solid #5aaff0;
                color: white;
            }
        }
    }

    .select-avatar {
        h4 {
            color: gray;
        }

        .avatar-btn {
            display: grid;
            grid-template-columns: 0.1fr 1fr 0.1fr;
            gap: 1em;
            margin: 1.5em 0;

            button {
                border: none;
                outline: none;
                border-radius: 3em;
                cursor: pointer;
                background-color: transparent;

                img {
                    height: 10vh;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .selected {
        h4 {
            color: gray;
        }

        .my-selection {
            margin: 1em 0;
            background-color: #f8f8f8;
            border-radius: 0.4em;
            padding: 1em;
            display: flex;
            align-items: center;
            gap: 6em;
            justify-content: space-between;
            h5 {
                span {
                    background-color: #0b86e4;
                    padding: 1em;
                    font-size: 1.2em;
                    color: white;

                    @include md{
                        font-size: 1.1em;
                     }

                    @include sm{
                       font-size: 1em;
                    }
                }
            }

            img {
                height: 15vh;

                @include md{
                    height: 12vh;
                }
                @include sm{
                    height: 10vh;
                }
            }
            h5 {
                color: gray;

                span {
                    border-radius: 0.4em;
                    margin-top: 0.2em;
                    width: fit-content;
                }
            }
        }
        .start-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                width: 50%;
                button {
                    background-color: #abd7f9;
                    border: none;
                    outline: none;
                    padding: 0.6em;
                    border-radius: 0.3em;
                    font-size: 1em;
                    margin: 1em 0;
                    width: 100%;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
