@import '../../responsive.scss';

.auth-container {
    background-color: #0b86e4;
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: white;
    @include sm {
        justify-content: none;
    }

    img {
        height: 75vh;
        transition: all 0.35s ease;
        animation: moveUpDown 2s ease-in-out infinite alternate-reverse both;
        @include sm {
            height: 40vh;
            display: none;
        }
    }

    @keyframes moveUpDown {
        0% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .form-container {
        .auth-form {
            margin-top: 1em;
            display: flex;
            gap: 0.7em;
            flex-direction: column;

            label{
              &::after{
                content: '*';
                color: tomato;
                margin-left: .3em;
              }
            }
            input {
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid white;
            }
            input[type='submit'] {
                background-color: white;
                border-radius: 0.4em;
                margin: 1em 0;
                padding: 0.4em;
                font-size: 1.2em;
                cursor: pointer;
            }
        }
    }
}
