.form {
    position: relative;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    .chat {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        overflow: hidden;
        overflow-y: scroll;
        height: 100%;
        padding: 2em;
        .greeting {
            display: flex;
            justify-content: left;
            gap: 0.4em;
            img {
                height: 8vh;
            }
            p {
                font-size: 0.8em;
                height: fit-content;
                margin-right: 3em;
                span {
                    font-weight: bold;
                }
                background-color: white;
                padding: 0.4em;
                border-radius: 0.4em;
            }
        }
    }

    .answer {
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 0.3em;

        input {
            width: 100%;
            font-size: 1em;
            &::placeholder {
                color: gray;
                font-size: 1em;
            }
        }
        input,
        button {
            background-color: transparent;
            padding: 1em;
            border: none;
            outline: none;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #2d9bf0;
            color: white;
            margin: 0.5em;
            cursor: pointer;
            border-radius: 0.3em;
        }
    }

    .chat-box {
        display: flex;
        justify-content: right;
        gap: 0.5em;
        margin-top: 0.4em;
        position: relative;
        .sender {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            width: 100%;
        }
        .msg-container {
            .user {
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 0.5em;
                img {
                    height: 6vh;
                }
                .message {
                    background-color: #2d9bf0;
                    color: white;
                    padding: 0.4em;
                    border-radius: 0.4em;
                    margin-left: 3em;
                }
            }
            .bot {
                display: flex;
                align-items: center;
                justify-content: left;
                text-align: left;
                img {
                    height: 8vh;
                }
                .message {
                    background-color: white;
                    padding: 0.4em;
                    border-radius: 0.4em;
                    margin-right: 3em;
                }
            }
        }
    }
}
