@import '../../responsive.scss';
$bg-col: #f7f7f7;

@mixin flexCenter($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.header {
    @include flexCenter(space-between);

    @include sm {
        padding: 0.4em;
    }

    .logo-link {
        background-color: none;
        box-shadow: none;
    }

    img {
        height: 15vh;
        @include sm {
            height: 10vh;
        }
    }
}
.header-link {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.8em;

    @include sm {
        font-size: 1.4em;
    }

    @include sm {
        .landing-page {
            display: none;
        }
    }

    a,
    .toggle-btn {
        @include flexCenter(center);
        text-decoration: none;
        color: black;
        background-color: $bg-col;
        padding: 0.3em;
        border-radius: 0.4em;
        transition: 0.35s ease;
        &:hover {
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
                0 1px 20px 3px rgba(0, 0, 0, 0.06);
            @include sm {
                box-shadow: none;
            }
        }
    }

    .toggle-btn {
        font-size: 1.1em;
        outline: none;
        border: none;
        cursor: pointer;
        &:hover {
            box-shadow: none;
        }
    }
}

.menu-container{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: all 0.35s ease;
}

.show-menu{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: all 0.35s ease;

}
