@import '../../responsive.scss';
$bg-col: #f7f7f7;

@mixin flexCenter($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.header {
    @include flexCenter(space-between);

    @include sm {
        padding: 0.4em;
    }

    .logo-link {
        background-color: none;
        box-shadow: none;
    }

    img {
        height: 15vh;
        @include sm {
            height: 12vh;
        }
    }
}
.header-link {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.8em;

    @include sm {
        font-size: 1.4em;
    }

    @include sm {
        .landing-page {
            display: none;
        }
    }

    a,
    .toggle-btn {
        @include flexCenter(center);
        text-decoration: none;
        color: black;
        background-color: $bg-col;
        padding: 0.3em;
        border-radius: 0.4em;
        transition: 0.35s ease;
        &:hover {
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
                0 1px 20px 3px rgba(0, 0, 0, 0.06);
            @include sm {
                box-shadow: none;
            }
        }
    }

    .toggle-btn {
        font-size: 1.1em;
        outline: none;
        border: none;
        cursor: pointer;
        display: none;
        background-color: transparent;
        z-index: 9999999;
        &:hover {
            box-shadow: none;
        }

        @include sm {
            display: block;
        }

        .menu-icon {
            font-size: 1.2em;
        }
        .close {
            color: white;
        }
    }
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(3px);
    .show-menu {
        position: absolute;
        z-index: 9999;
        background-color: #0b86e4;
        color: white;
        width: 50%;
        height: 100%;
        overflow: hidden;
        top: 0;
        right: 0;
        transition: width 0.45s ease;
        display: none;

        &.active {
            animation: smooth-open 0.5s forwards;
            display: block;
        }
    }

    @keyframes smooth-open {
        from {
            width: 0;
        }
        to {
            width: 50%;
        }
    }

    .menu-sm-screens {
        margin: 9em 2em;
        display: flex;
        flex-direction: column;
        gap: 1.8em;
        font-weight: bold;

        .footer-sm-screen {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 0.6em;
            margin-top: 4em;
            margin-bottom: 1em;

            a {
                background-color: #7db6e2;
                padding: 0.4em;
                border-radius: 0.4em;
            }

            .footer-sm-icon {
                font-size: 1.6rem;
                color: white;
            }

            .footer-sm-link {
                display: flex;
                gap: 0.4em;
                align-items: center;
                white-space: nowrap;

                p {
                    color: gray;
                    font-size: 0.8em;
                    color: white;
                    font-weight: 300;
                }
            }
        }
    }
}
