.profile-information {
    display: grid;
    gap: 0.7em;

    .info {
        background-color: white;
        padding: 1em;
        border-radius: .3em;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);

        .info-profile-container{
            color: gray;
            display: flex;
            align-items: center;
            gap: .5em;
            margin-bottom: .9em;

            .info-icon{
                font-size: 1.2rem;
            }
        }
        p{
            margin-left: 1em;
        }
    }
}
